body {
    /*background-color: #5D5D5D;*/
    /* background-color: #DD622D; */
    font-family: monospace;
    /* font-family: Arial, Helvetica, sans-serif; */
    cursor: default;
    background-color: #0E0E0E;
    max-height: 90%%;
}

input {
    width: 120px;
    margin-left: auto;
    background-color: #0E0E0E;
    color: #98A7FF;
    border-radius: 8px;
}

.sensorInput {
    width: 100px;
}

select {
    margin-left: auto;
    background-color: #0E0E0E;
    color: #98A7FF;
}

.pagewrapper {
    /* position: absolute; */
    /*width: 480px;*/
    width: 375px;
    /*iPhone6s and up for instance*/
    border-style: solid;
    border-width: thin;
    border-color: #8C0074;
    padding: 5px;
    align-items: center;
    height: 88%%;
    overflow-y: scroll;
    border-radius: 12px;
}

.container {
    margin: 5px;
    border: 2px solid #2e2e2e;
    padding: 5px;
    color: #FFFFFF;
    background-color: rgba(45, 45, 45, 0.5);
    border-radius: 10px;
    display: block;
}

/* .hidden {
    display: none;
} */

.container:hover {
    color: #00FF00;
    border: 2px solid #8f0000;
}


.hidden {
    display: none;
}

.widget {
    margin: 4px;
    min-height: 24px;
    border: 2px solid #2e2e2e;
    background-color: #1D1D1D;
    color: #FFFFFF;
    font-size: 10pt;
    padding: 2px;
    padding-left: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    border-radius: 8px;
}


.widget:hover {
    background-color: #3D3D3D;
    border: 2px solid #a30000;
    /*color: #FFFFFF;*/
}

.logger {
    background-color: #000000;
    color: #98A7FF;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 128px;
    border: 1px solid #ccc;
    resize: vertical;
    overflow: auto;
}

.footer {
    /*   position: absolute; */
    width: 375px;
    /*iPhone6s and up for instance*/
    bottom: 0;
    padding-left: 10px;
    margin: 0px;
    color: #FFFFFF;
    background-color: #000000;
    text-align: left;
    border-radius: 16px;
}